[defaults]
inventory = inventory/hosts.yml
host_key_checking = False
retry_files_enabled = False
interpreter_python = auto_silent
roles_path = ./roles
gathering = smart
fact_caching = memory
stdout_callback = default
result_format = yaml
bin_ansible_callbacks = True
vault_password_file = ~/.config/lessons-portal/ansible-vault-pass

[ssh_connection]
pipelining = True
control_path = /tmp/ansible-ssh-%%h-%%p-%%r
